$window_fg: #EDF0F5;
$window_bg: #3f3e3e;
$text_widget_fg: #EDF0F5;
$text_widget_bg: #323232;

$selected_fg: #2a4606;
$selected_bg: #75ff25;

$button_fg: #EDF0F5;
$button_bg: #4f4f4f;
$button_checked_bg: #434343;
$button_checked_fg: #75ff25;


$disabled_fg: #7c675a;
$disabled_bg: #493e37;

/*Usually an automatic fg color on these backgrounds should check this value!*/
$warningc: #f57900;
$errorc: #CC0000;
$successc: #33d17a;


$titlebar_active_fg: #EDF0F5;
$titlebar_active_bg: #3f3e3e;

$titlebar_backdrop_fg: #EDF0F5;
$titlebar_backdrop_bg: #3f3e3e;

$hint_fg: #66cbec;
$hint_bg: #203d79;

$osd_fg: #66cbec;
$osd_bg: #203d79;

$link_fg: #99c1f1;
$link_visited_fg: #dc8add;
