/***************************
 * Check and Radio buttons *
 ***************************/

 // draw regular check and radio items using our PNG assets
// all assets are rendered from assets.svg. never add pngs directly

checkbutton.text-button, radiobutton.text-button {
  // this is for a nice focus on check and radios text
  padding: 2px 0;
  outline-offset: 0;

  label:not(:only-child) {
    &:first-child { margin-left: 4px; }
    &:last-child { margin-right: 4px; }
  }

  &:hover > label {
    text-shadow: 0 0 5px currentColor;
  }

  @if $gtk==4 {
    @include focus-ring();
  }
}

check, check:selected,
radio, radio:selected {
  border-width: 1px;
  border-style: solid;
  @include button();
  margin: 0 4px;

  &:only-child { margin: 0; }

  popover & { // when in a popover add more space between the label and the check, reset the other side margin.
              // See https://bugzilla.gnome.org/show_bug.cgi?id=779570 for details.
    &.left:dir(rtl) {
      margin-left: 0;
      margin-right: 12px;
    }

    &.right:dir(ltr) {
      margin-left: 12px;
      margin-right: 0;
    }
  }

  min-height: 14px;
  min-width: 14px;
  //border: 1px solid;
  -gtk-icon-source: none;

   menu menuitem & {
    margin: 0; // this is a workaround for a menu check/radio size allocation issue


  }
}

%check,
check {
  border-radius: 3px;

  &:checked { -gtk-icon-source: image(-gtk-recolor(url("assets/check-symbolic.svg")),
                                      -gtk-recolor(url("assets/check-symbolic.symbolic.png"))); }

  &:indeterminate { -gtk-icon-source: image(-gtk-recolor(url("assets/dash-symbolic.svg")),
                                            -gtk-recolor(url("assets/dash-symbolic.symbolic.png"))); }
}

%radio,
radio {
  border-radius: 100%;

  &:checked { -gtk-icon-source: image(-gtk-recolor(url("assets/bullet-symbolic.svg")),
                                      -gtk-recolor(url("assets/bullet-symbolic.symbolic.png"))); }

  &:indeterminate { -gtk-icon-source: image(-gtk-recolor(url("assets/dash-symbolic.svg")),
                                            -gtk-recolor(url("assets/dash-symbolic.symbolic.png"))); }
}

// ANIMATION:
// this is made with those pretty convoluted transitions, since checks and radios have to animate only on state changes,
// the transformation is set on the active state and it get reset on the checked state.
radio:not(:indeterminate):not(:checked):active:not(:backdrop) { -gtk-icon-transform: scale(0); }

check:not(:indeterminate):not(:checked):active:not(:backdrop) { -gtk-icon-transform: translate(6px, -3px) rotate(-45deg) scaleY(0.2) rotate(45deg) scaleX(0); }

radio,
check {
  &:active { -gtk-icon-transform: scale(0, 1); } // should tackle the indeterminate state, untested

  &:checked:not(:backdrop), &:indeterminate:not(:backdrop) {
    -gtk-icon-transform: unset;
    transition: 400ms;
  }
}

menu menuitem {
  radio,
  check {
     &:checked:not(:backdrop), &:indeterminate:not(:backdrop) { transition: none; }
  }
}

treeview.view radio:selected, treeview.view check:selected {
  //awful workaround for checks in selected rows of tree views... Needs to be checked in other color schemes!
  &, &:focus {
    background-color: $button_bg;
    color: $selected_bg_color;
    &:not(:checked) {
      @include _shadows($button_shadow_normal);
    }

  }
}

// treeview.view check,
// treeview.view radio {
//   &:selected {
//     &:focus, & {
//       color: $checkradio_fg_color;

//       @if $variant == 'light' { border-color: $selected_borders_color; }
//     }
//   }
// }

treeview.view radio:selected { &:focus, & { @extend %radio; }} // This is a workaround
