
// XFCE system tray buttons don't look good without margin
.xfce4-panel #sn-button {
  margin: 1px;
}

#docklike-plugin {
    button {
        background-color: transparent;
        .active_group & {
            @extend %button-pressed;
            background-color: red;
        }
    }
    
}

XfdesktopIconView.view {
    text-shadow: 0 0 2px $base_color, 0 0 2px $base_color, 0 0 2px $base_color;
    color: $text_color;
    background-color: transparent;
    
    .rubberband {
        background-color: gtkalpha($selected_bg_color, 0.5);
    }
}

XfdesktopIconView.view:active {
    text-shadow: none;
    color: $selected_fg_color;
    background-color: gtkalpha($selected_bg_color, 0.5);
}
