/*************
 * Level Bar *
 *************/
 
$_levelbar_size: 9px;
$_levelbar_border_radius: 9999px;

levelbar {
  &.horizontal {
    trough > block {
      min-height: $_levelbar_size;
      border-radius: $_levelbar_border_radius;

      &:dir(rtl) {
        border-radius: 0 $_levelbar_border_radius $_levelbar_border_radius 0;
      }

      &:dir(ltr) {
        border-radius: $_levelbar_border_radius 0 0 $_levelbar_border_radius;
      }

      &.empty,&.full {
        border-radius: $_levelbar_border_radius;
      }
    }

    // segmented level bar
    &.discrete {
      trough > block {
        min-height: 4px;
        margin: 1px;
        min-width: 24px;
        border-radius:0;
        &:first-child {border-radius: 2px 0 0 2px;}
        &:last-child {
          border-radius: 0 2px 2px 0;
        }
      }
    }
  }

  &.vertical {
    trough > block {
      min-width: $_levelbar_size;
      border-radius: $_levelbar_border_radius;
    }

    &.discrete > trough > block {
      min-width: $_levelbar_size - 5px;
      margin: 1px 0;
      min-height: 32px;
    }
  }

  > trough {
    padding: 1px;
    @extend %scale_trough;
    border-radius: $_levelbar_border_radius;
  }

  // level bar colours
  > trough > block {
    border: 1px solid;
    
    &.low {
      &, &.filled { @include scale_highlight($warning_color); }
    }
    &.high {
      &, &.filled { @include scale_highlight(mix($success_color, $progress_bg_color, 50%)); }
    }
    &.full {
      &, &.filled { @include scale_highlight($success_color); }
    }
    &.filled //filled with no particular indicator
    //, &:not(.empty)
    {
      @include scale_highlight();
    }

    &.empty {
      @include scale_highlight(darken($base_color, 5%));
      //box-shadow: none;
    }
  }
}
