row {
  transition: $button_transition;// all 500ms $ease-out-quad;
  border: 1px solid transparent;
  //&:hover { transition: none; }

  //&:backdrop { transition: $backdrop_transition; }

  &.activatable {
     // this is for indicathing which row generated a popover see https://bugzilla.gnome.org/show_bug.cgi?id=754411

    &:hover, 
    &:active,
    &:selected, &.has-open-popup {
      @include button(); //very bold
    }
    &:disabled { @include button($insensitive_bg_color, $insensitive_fg_color, $insensitive_bg_color, $insensitive_fg_color); }
  }

  &:selected { @extend %selected_items; }
  .nested > & {
    background-color: transparentize(if($variant == 'light', black, white), 0.9);
  }
}
