%scale_trough {
  border: 1px solid $borders_color;
  border-radius: 3px;
  background-color: $dark_fill;
  //padding:1px;

  headerbar & { background-color: darken($dark_fill,8%); } //3504

  &:disabled {
   background-color: $insensitive_bg_color;
   border-color: mix($insensitive_bg_color, $insensitive_fg_color, 80%);
  }

  // ...on selected list rows
  row:selected & {
    &:disabled, & {
      outline-color: $alt_focus_border_color;
      border-color: $selected_borders_color;
    }
  }

  // OSD
  .osd & {
    border-color: $osd_borders_color;
    background-color: transparentize($osd_borders_color, 0.7);

    &:disabled { background-color: $osd_insensitive_bg_color; }
  }
}

%scale_highlight {
  border: 1px solid $progress_border_color;
  border-radius: 3px;
  background-color: $progress_bg_color;

  &:disabled {
    background-color: mix($insensitive_bg_color, $insensitive_fg_color, 30%);
    border-color: mix($insensitive_bg_color, $insensitive_fg_color, 00%);;
  }

  // ...on selected list rows
  row:selected & { &:disabled, & { border-color: $selected_borders_color; }}

  // OSD
  .osd & {
    border-color: $osd_borders_color;

    &:disabled { border-color: transparent; }
  }
}

scale {
  // sizing
  $_marks_length: 6px;
  $_marks_distance: 6px;

  min-height: 10px;
  min-width: 10px;
  padding: 12px;

  //@include focus-ring("> trough", $offset: 10px);

  // those are inside the trough node, I need them to show their own border over the trough one, so negative margin
  > trough {
    transition: $focus_transition;

    > fill,
    > highlight { margin: -1px; }

  

  }

  // click-and-hold the slider to activate
  &.fine-tune {
    //&.horizontal {
    //  padding-top: 9px;
    //  padding-bottom: 9px;
    //  min-height: 16px;
    //}

    //&.vertical {
    //  padding-left: 9px;
    //  padding-right: 9px;
    //  min-width: 16px;
    //}

    // to make the trough grow in fine-tune mode //no longer, just background change
    > trough > slider {
        &:hover, &:focus {@include slider($type: hover, $fine_tune: true);}
    } 

    > trough > fill,
    > trough > highlight,
    > trough {
      //border-radius: 5px;
    }
  }

  // the backing bit
  > trough {
    @extend %scale_trough;
  }

  // the colored part of the backing bit
  > trough > highlight { @extend %scale_highlight; }

  // this is another differently styled part of the backing bit, the most relevant use case is for example
  // in media player to indicate how much video stream as been cached
  > trough > fill {
    @extend %scale_trough;


    &:disabled {
      border-color: transparent;
      background-color: transparent;
    }

    // OSD
    .osd & {
      background-color: mix($osd_fg_color, $osd_borders_color, 25%);

      &:disabled {
       border-color: transparent;
       background-color: transparent;
      }
    }
  }

  > trough > slider, %slider {
    min-height: 18px;
    min-width: 18px;
    margin: -9px; // the slider is inside the trough, so to have make it bigger there's a negative margin
    @include slider();
    border-radius: 100%;
    @include draggable_bg_image($button_bg);


    &:hover, &:focus { @include slider(hover); }
    &:active { @include slider(active) }

    // OSD
    .osd & {
      @include slider(normal, $osd_button_bg_color);
      &:hover, &:focus { @include slider(hover, $osd_button_bg_color); }
      &:active { @include slider(active, $osd_button_bg_color) }
    }
  }

  > value {
    color: gtkalpha(currentColor, 0.55);
    font-feature-settings: "tnum";
  }

  &.horizontal {
    > marks {
      color: gtkalpha(currentColor, 0.55);
      &.top    { margin-bottom: $_marks_distance; }
      &.bottom { margin-top: $_marks_distance; }

      indicator {
        background-color: currentColor;
        min-height: $_marks_length;
        min-width: 1px;
      }
    }

    > value.left  { margin-right: 9px; }
    > value.right { margin-left: 9px; }

    //&.fine-tune >marks {
    //  &.top { margin-top: 3px; }
    //  &.bottom { margin-bottom: 3px; }

    //  indicator { min-height: ($_marks_length - 3px); }
    //}
    &.marks-after {slider{ border-radius: 5px 5px 100% 100%;min-width: 10px; padding: 0; margin-right: 5px; margin-left:5px;}}
    &.marks-before, &.color  {slider{ border-radius: 100% 100% 5px 5px;min-width: 10px; padding: 0; margin-right: 5px; margin-left:5px;}}

  }

  &.vertical {
    > marks {
      color: gtkalpha(currentColor, 0.55);
      &.top    { margin-right: $_marks_distance; }
      &.bottom { margin-left: $_marks_distance; }

      indicator {
        background-color: currentColor;
        min-height: 1px;
        min-width: $_marks_length;
      }
    }

    > value.top    { margin-bottom: 9px; }
    > value.bottom { margin-top: 9px; }

    //&.fine-tune >marks {
    //  &.top { margin-left: 3px; }
    //  &.bottom { margin-right: 3px; }

    //  indicator { min-height: ($_marks_length - 3px); }
    //  }
    &.marks-after, &.color:dir(ltr) {slider{ border-radius: 5px 100% 100% 5px;min-height: 10px;padding: 0;margin-top: 54px; margin-bottom:5px;}}
    &.marks-before, &.color:dir(rtl) {slider{ border-radius: 100% 5px 5px 100%;min-height: 10px;padding: 0;margin-top: 5px; margin-bottom:5px;}}
  }

  // *WARNING* scale with marks madness following



  &.color {
    min-height: 0;
    min-width: 0;

    > trough {
      background-image: image($borders_color);
      background-repeat: no-repeat;
    }

    &.horizontal {
      padding: 0 0 15px 0;

      > trough {
        padding-bottom: 4px;
        background-position: 0 -3px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      > trough > slider {
        &:dir(ltr), &:dir(rtl) { // specificity bump
          &:hover, &:backdrop, &:disabled, &:backdrop:disabled, & {
            margin-bottom: -15px;
            margin-top: 6px;
          }
        }
      }
    }

    &.vertical {
      &:dir(ltr) {
        padding: 0 0 0 15px;

        > trough {
          padding-left: 4px;
          background-position: 3px 0;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }

        > trough > slider {
          &:hover, &:backdrop, &:disabled, &:backdrop:disabled, & {
            margin-left: -15px;
            margin-right: 6px;
          }
        }
      }

      &:dir(rtl) {
        padding: 0 15px 0 0;

        > trough {
          padding-right: 4px;
          background-position: -3px 0;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
        }

        > trough > slider {
          &:hover, &:backdrop, &:disabled, &:backdrop:disabled, & {
            margin-right: -15px;
            margin-left: 6px;
          }
        }
      }
    }

    //removed fine-tune bit
  }
}
