/************
 * GtkScale *
 ************/

%scale_trough {
  border: none; //1px solid $borders_color;
  border-radius: 9999px;
  background-color: $trough_bg_color;
  

  @include _shadows(
      $ridge_shadow
  );

  // ...on selected list rows
  row:selected & { &:disabled, & { border-color: $selected_borders_color; }}

  // OSD
  .osd & {
      border-color: $osd_borders_color;
      //background-color: transparentize($osd_borders_color, 0.7);

      //&:disabled { background-color: $osd_insensitive_bg_color; }
  }

}

@mixin scale_highlight($c: $progress_bg_color) {
  margin: 0px;
  border: none;
  $highlight_highlight_color: button_highlight_color($c);
  $highlight_insensitive_color:  mix($insensitive_bg_color, $insensitive_fg_color, 30%);
  $highlight_insensitive_highlight_color: button_highlight_color($highlight_insensitive_color);
  border-radius: 9999px;
  background-color: $c;
  color: $progress_fg_color;
  box-shadow:
    //inset 0 3px 0 0 $highlight_highlight_color,
    0 0 5px 0 $c;

  // background-image: 
  //   linear-gradient(to bottom, gtkalpha(white, 0), gtkalpha(white, 0.3)),
  //   radial-gradient(ellipse at center , gtkalpha(black, 0.3), gtkalpha(black, 0));

  &:disabled {
    background-color: $highlight_insensitive_color;
    box-shadow: none;
      //inset 0 3px 0 0 $highlight_insensitive_highlight_color;
    //border-color: mix($insensitive_bg_color, $insensitive_fg_color, 00%);;
  }
}

%scale_highlight {
  
  @include scale_highlight();
  //border: 1px solid $progress_border_color;

  // ...on selected list rows
  //row:selected & { &:disabled, & { border-color: $selected_borders_color; }}

  // OSD
  //.osd & {    }

}

//note: on gtk3, "trough" is inside a "contents" element. Not in gtk4. Therefore, we don't do scale > trough
scale {
  // sizing
  $_marks_length: 6px;
  $_marks_distance: 6px;

  min-height: 10px;
  min-width: 10px;
  padding: 12px;
  
  //the back part

  trough {
    @extend %scale_trough;

    outline-offset: 2px;
    -gtk-outline-radius: 5px;
  }

  //the colored part
  highlight { @extend %scale_highlight; }


  // this is another differently styled part of the backing bit, the most relevant use case is for example
  // in media player to indicate how much video stream as been cached
  fill {
    @extend %scale_trough;
    background-color: lighten($dark_fill, 20%);
  }


  trough > slider, %slider {
    @include slider();
    min-height: 18px;
    min-width: 18px;
    margin: -3px;
    border-radius: 100%;
    @include draggable_bg_image($button_bg);


    &:hover, &:focus { @include slider(hover); }
    &:active { @include slider(active) }

    // OSD
    .osd & {
      @include slider(normal, $osd_button_bg_color);
      &:hover, &:focus { @include slider(hover, $osd_button_bg_color); }
      &:active { @include slider(active, $osd_button_bg_color) }
    }
  
  }
  //fine-tune is when you click-and-hold for a short time the slider, then you can adjust it with more precision
  &.fine-tune {
    
    trough > slider {
        &:hover, &:focus {@include slider($type: hover, $fine_tune: true);}
    }
  }

  marks,
  value {
    color: gtkalpha(currentColor, 0.55);
    font-feature-settings: "tnum";
  }

  //from now on, it is gtk3 code, hopefully it also works for gtk4 and libadwaita

  //marks margins
  @each $scale_orient, $marks_class, $marks_pos, $marks_margin in (horizontal, top, top, bottom),
                                                                  (horizontal, bottom, bottom, top),
                                                                  (vertical, top, left, right),
                                                                  (vertical, bottom, right, left) {
    &.#{$scale_orient} marks {
      &.#{$marks_class} {
        margin-#{$marks_margin}: $_marks_distance;
        margin-#{$marks_pos}: -($_marks_distance + $_marks_length);
      }
      mark {
      	background-color: gtkalpha(currentColor, 0.5);
      }
    }
  }
	
  &.horizontal {



    indicator {
      min-height: $_marks_length;
      min-width: 1px;
    }

    //&.fine-tune indicator { min-height: ($_marks_length - 3px); }
    &.marks-after {
    	slider{ border-radius: 5px 5px 100% 100%; min-width: 10px; padding: 0; margin-right: 5px; margin-left:5px;}}
    &.marks-before, &.color {slider{ border-radius: 100% 100% 5px 5px;min-width: 10px;padding: 0;margin-right: 5px; margin-left:5px;}}
  }

  &.vertical {
    indicator {
      min-height: 1px;
      min-width: $_marks_length;
    }

    //&.fine-tune indicator { min-width: ($_marks_length - 3px); }
    
    &.marks-after, &.color:dir(ltr) {slider{ border-radius: 5px 100% 100% 5px; min-height: 10px;padding: 0;margin-top: 5px; margin-bottom:5px;}}
    &.marks-before, &.color:dir(rtl) {slider{ border-radius: 100% 5px 5px 100%; min-height: 10px;padding: 0;margin-top: 5px; margin-bottom:5px;}}
  }

	// Old warning to help locate where this madness used to be. I've used a much saner approach to marked sliders, IMHO, without assets.
	// *WARNING* scale with marks madness following
  	
 
  &.color {
    min-height: 0;
    min-width: 0;

    trough {
      background-image: image($borders_color);
      background-repeat: no-repeat;
    }

    &.horizontal {
      padding: 0 0 15px 0;

      trough {
        padding-bottom: 4px;
        background-position: 0 -3px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      slider {
        &:dir(ltr), &:dir(rtl) { // specificity bumb
          &:hover, &:backdrop, &:disabled, &:backdrop:disabled, & {
            margin-bottom: -15px;
            margin-top: 6px;
          }
        }
      }
    }

    &.vertical {
      &:dir(ltr) {
        padding: 0 0 0 15px;

        trough {
          padding-left: 4px;
          background-position: 3px 0;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }

        slider {
          &:hover, &:backdrop, &:disabled, &:backdrop:disabled, & {
            margin-left: -15px;
            margin-right: 6px;
          }
        }
      }

      &:dir(rtl) {
        padding: 0 15px 0 0;

        trough {
          padding-right: 4px;
          background-position: -3px 0;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
        }

        slider {
          &:hover, &:backdrop, &:disabled, &:backdrop:disabled, & {
            margin-right: -15px;
            margin-left: 6px;
          }
        }
      }
    }

	//removed fine-tune bit
  }
}
