@mixin slider($type:normal, $color:$button_bg, $fine_tune:false) {
    $glow_color: if($fine_tune, $success_color, $selected_bg_color);
    $bs_hover: 0 0 5px 0 $glow_color;
    $bs_active: 0 0 3px 0 $glow_color;
    $bs_extra: inset 0 1px  0px 0px  $button_highlight_color,
        inset 0 -4px  3px 0px  $button_shadow_color,
        0 4px  4px -2px $button_shadow_color;

    @if $type==normal {
        @include button($pressable: false);
        @include _shadows($button_shadow_normal, $bs_extra);
        border: none;
        
    }
    @else if $type==hover {
        @include _shadows($button_shadow_normal, $bs_extra, $bs_hover);
    }
    @else if $type==active {
        @include _shadows($button_shadow_normal, $bs_extra, $bs_hover, $bs_active);
    }

    
}
