stackswitcher, .stack-switcher, %stackswitcher {
    border-radius: 9999px;
    border: none;
    @include _shadows($button_shadow_pressed);
    headerbar &, windowhandle & {
        margin: 3px 0px;
        & > button {min-height: $button_min_height - 5px;}
    } //otherwise it's as tall as the headerbar, which doesn't look good.
}
