@import '../common/common_common.scss';
@import '../common/slider.scss';



* {
  padding: 0;
  -GtkToolButton-icon-spacing: 4;
  -GtkTextView-error-underline-color: $error_color;

  // The size for scrollbars. The slider is 2px smaller, but we keep it
  // up so that the whole area is sensitive to button presses for the
  // slider. The stepper button is larger in both directions, the slider
  // only in the width

  -GtkScrolledWindow-scrollbar-spacing: 0;

  -GtkToolItemGroup-expander-size: 11;

  -GtkWidget-text-handle-width: 20;
  -GtkWidget-text-handle-height: 24;

  -GtkDialog-button-spacing: 4;
  -GtkDialog-action-area-border: 0;

  // We use the outline properties to signal the focus properties
  // to the adwaita engine: using real CSS properties is faster,
  // and we don't use any outlines for now.

  outline-color: gtkalpha(currentColor, 0.3);
  outline-style: none;//dashed; removed it because I already signal activeness elsehow
  outline-offset: -3px;
  outline-width: 1px;
  -gtk-outline-radius: $button-radius - 2;

  -gtk-secondary-caret-color: $selected_bg_color
}


/***************
 * Base States *
 ***************/
.background {
  color: $fg_color;
  background-color: $bg_color;

  &:backdrop {
    color: $backdrop_fg_color;
    background-color: $backdrop_bg_color;
    text-shadow: none;
    -gtk-icon-shadow: none;
  }
}

/*
   These wildcard seems unavoidable, need to investigate.
   Wildcards are bad and troublesome, use them with care,
   or better, just don't.
   Everytime a wildcard is used a kitten dies, painfully.
*/

*:disabled { -gtk-icon-effect: dim; }

.gtkstyle-fallback {
  color: $fg_color;
  background-color: $bg_color;

  &:hover {
    color: $fg_color;
    background-color: lighten($bg_color, 10%);
  }

  &:active {
    color: $fg_color;
    background-color: darken($bg_color, 10%);
  }

  &:disabled {
    color: $insensitive_fg_color;
    background-color: $insensitive_bg_color;
  }

  &:selected {
    color: $selected_fg_color;
    background-color: $selected_bg_color;
  }
}

.view,
%view {
  color: $text_color;
  background-color: $base_color;

  //&:backdrop {
  //  color: $backdrop_text_color;
  //  background-color: $backdrop_base_color;
  //  &:disabled { color: $backdrop_insensitive_color; }
  //}

  &:disabled {
    color: $insensitive_fg_color;
    background-color: $insensitive_bg_color;
  }

  &:selected  {
    &:focus, & {
      @extend %selected_items;

      //border-radius: 3px;//3px;
    }
  }
  & > :selected { //this is weirdly needed for nemo when renaming files, there's probably a better solution
    background-color: $selected_bg_color;
  }

}

.view,
textview {
  text {
    @extend %view;

    selection { &:focus, & { @extend %selected_items; }}
  }
}

textview border { background-color: mix($bg_color, $base_color, 50%); }

iconview { @extend .view; }

.rubberband,
rubberband {
  border: 1px solid darken($selected_bg_color, 10%);
  background-color: transparentize(darken($selected_bg_color, 10%), 0.8);
}

flowbox {
  rubberband { @extend rubberband; }

  flowboxchild {
    padding: 3px;

    &:selected {
      @extend %selected_items;

      outline-offset: -2px;
    }
  }
}

.content-view .tile {
  margin: 2px;
  background-color: if($variant=='light', transparent, black);
  border-radius: 0;
  padding: 0;
  
  //&:backdrop { background-color: if($variant=='light', transparent, darken($backdrop_base_color,5%)); }
  &:active, &:selected { background-color: if($variant=='light', transparent, $selected_bg_color); }
  &:disabled { background-color: if($variant=='light', transparent, $insensitive_bg_color); }
}

label {
  caret-color: currentColor; // this shouldn't be needed.

  &.separator {
    @extend .dim-label;
  }

  &:selected { @extend %nobg_selected_items; }

  selection {
    background-color: $selected_bg_color;
    color: $selected_fg_color;
  }

  &:disabled {
    color: $insensitive_fg_color;

    button & { color: inherit; }

    &:backdrop {
      color: $backdrop_insensitive_color;

      button & { color: inherit; }
    }

    selection { @extend %selected_items_disabled; }
  }

  &:backdrop {
    selection { @extend %selected_items_backdrop; }
  }

  &.error {
    color: $error_color;
    &:disabled { color: transparentize($error_color,0.5); }
    &:disabled:backdrop { color: transparentize($error_color,0.6); }
  }
}

.dim-label {
  opacity: 0.55;
  text-shadow: none;
}

assistant {
  .sidebar {
    background-color: $base_color;
    border-top: 1px solid $borders_color;

    &:backdrop {
      background-color: $backdrop_base_color;
      border-color: $backdrop_borders_color;
    }
  }

  &.csd .sidebar { border-top-style: none; }

  .sidebar label { padding: 6px 12px; }

  .sidebar label.highlight { background-color: mix($bg_color, $fg_color, 80%); }
}

%osd,
.osd {
  color: $osd_fg_color;
  border: 1px solid $osd_borders_color;
  background-color: $osd_bg_color;
  background-clip: padding-box;
  //text-shadow: 0 1px black;
  //-gtk-icon-shadow: 0 1px black;

  //&:backdrop {
  //  text-shadow: none;
  //  -gtk-icon-shadow: none;
  //}
}


/*********************
 * Spinner Animation *
 *********************/
@keyframes spin {
  to { -gtk-icon-transform: rotate(1turn); }
}

spinner {
  background: none;
  &:backdrop { color: $backdrop_fg_color; }
  opacity: 0.1; // non spinning spinner makes no sense (or maybe yes!)
  -gtk-icon-source: -gtk-icontheme('process-working-symbolic');

  &:checked {
    opacity: 1;
    animation: spin 1s linear infinite;

    &:disabled { opacity: 0.5; color: $insensitive_fg_color;}
  }
}

/**********************
 * General Typography *
 **********************/

.large-title {
   font-weight: 300;
   font-size: 24pt;
}
.title-1 {
   font-weight: 800;
   font-size: 20pt;
}
.title-2 {
   font-weight: 800;
   font-size: 15pt;
}
.title-3 {
   font-weight: 700;
   font-size: 15pt;
}
.title-4 {
   font-weight: 700;
   font-size: 13pt;
}
.heading {
   font-weight: 700;
   font-size: 11pt;
}
.body {
   font-weight: 400;
   font-size: 11pt;
}
.caption-heading {
   font-weight: 700;
   font-size: 9pt;
}
.caption {
   font-weight: 400;
   font-size: 9pt;
}

/****************
 * Text Entries *
 ****************/

%entry,
entry {
  %entry_basic, & {
    min-height: $_entry_height;
    padding-left: 1px;
    padding-right: 1px;
    border: 0px none;
    border-radius: $entry_radius;
    transition: none; //all 200ms $ease-out-quad;

    @include entry(normal);

    image { // icons inside the entry
      &.left { margin-right: 6px; }
      &.right { margin-left: 6px; }
    }

    &:hover {
      @include entry(hover);
    }

    &.flat {
      &:focus, &:backdrop, &:disabled, &:backdrop:disabled, & {
        min-height: 0;
        padding: 2px;
        padding-left: 1px;
        padding-right: 1px;
        background-color: transparent;
        border-color: transparent;
        border-radius: 0;
      }
    }

    &:focus { @include entry(focus); }

    &:disabled { @include entry(insensitive); }

    // &:backdrop {
    //   @include entry(backdrop);

    //   transition: $backdrop_transition;
    // }

    // &:backdrop:disabled { @include entry(backdrop-insensitive); }

    selection { @extend %selected_items; }
    

    // entry error and warning style
    @each $e_type, $e_color in (error, $error_color),
                               (warning, $warning_color) {
      &.#{$e_type} {
        color: $e_color;
        border-color: entry_focus_border($e_color);

        &:focus { @include entry(focus, $e_color); }

        selection { background-color: $e_color; }
      }
    }

    image { // entry icons colors
      color: mix($fg_color, $base_color, 80%);

      &:hover { color: $fg_color; }

      &:active { color: $selected_bg_color; }

      //&:backdrop { color: mix($backdrop_fg_color, $backdrop_base_color, 80%); }
    }

    &:drop(active) {
      &:focus, & {
        border-color: $drop_target_color;
        box-shadow: inset 0 0 0 1px $drop_target_color;
      }
    }

    .osd & {
      @include entry(osd);

      &:focus { @include entry(osd-focus); }

      //&:backdrop { @include entry(osd-backdrop); }

      &:disabled { @include entry(osd-insensitive); }
    }
  }

  progress {
    margin: 2px -0px;
    background-color: transparent;
    background-image: none;
    border-radius: 0;
    border-width: 0 0 2px;
    border-color: $progress_bg_color;
    border-style: solid;
    box-shadow: none;

    &:backdrop { background-color: transparent; }
  }

   // linked entries
  .linked:not(.vertical) > & { 
        @extend %linked;
        &, &:first-child, &:last-child, &:only-child { 
            &:dir(rtl), &:dir(ltr) {border-radius:$entry_radius;} //breaking roundness if present, added for square theme. All this to get equal specificity!
        }
   } 
  // .linked:not(.vertical) > &:focus + &,
  // .linked:not(.vertical) > &:focus + button,
  // .linked:not(.vertical) > &:focus + combobox > box > button.combo { border-left-color: entry_focus_border(); }

  // .linked:not(.vertical) > &:focus.error + &,
  // .linked:not(.vertical) > &:focus.error + button,
  // .linked:not(.vertical) > &:focus.error + combobox > box > button.combo { border-left-color: entry_focus_border($error_color); }

  // .linked:not(.vertical) > &:drop(active) + &,
  // .linked:not(.vertical) > &:drop(active) + button,
  // .linked:not(.vertical) > &:drop(active) + combobox > box > button.combo { border-left-color: $drop_target_color; }

  // Vertically linked entries
  // FIXME: take care of "colored" entries
  .linked.vertical > & {
    @extend %linked_vertical;

    // brighter border between linked entries
    &:not(:disabled) + entry:not(:disabled),
    &:not(:disabled) + %entry:not(:disabled) {
      border-top-color: mix($borders_color, $base_color, 30%);

      //&:backdrop { border-top-color: mix($backdrop_borders_color, $backdrop_base_color, 30%); }
    }

    // brighter border between linked insensitive entries
    &:disabled + %entry:disabled,
    &:disabled + entry:disabled { border-top-color: mix($borders_color, $base_color, 30%); }

    // color back the top border of a linked focused entry following another entry.
    // :not(:only-child) is a specificity bump hack.
    + %entry:focus:not(:only-child),
    + entry:focus:not(:only-child) { border-top-color: entry_focus_border(); }

    + %entry:focus.error:not(:only-child),
    + entry:focus.error:not(:only-child) { border-top-color: entry_focus_border($error_color); }

    + %entry:drop(active):not(:only-child),
    + entry:drop(active):not(:only-child) { border-top-color: $drop_target_color; }

    // this takes care of coloring the top border of the focused entry subsequent widget.
    // :not(:only-child) is a specificity bump hack.
    // &:focus:not(:only-child) {
    //   + %entry,
    //   + entry,
    //   + button,
    //   + combobox > box > button.combo { border-top-color: entry_focus_border(); }
    // }

    // &:focus.error:not(:only-child) {
    //   + %entry,
    //   + entry,
    //   + button,
    //   + combobox > box > button.combo { border-top-color: entry_focus_border($error_color); }
    // }

    // &:drop(active):not(:only-child) {
    //   + %entry,
    //   + entry,
    //   + button,
    //   + combobox > box > button.combo { border-top-color: $drop_target_color; }
    // }
  }

  &.error { color: $error_color; }
}

treeview entry {
  &:focus {
    &:dir(rtl), &:dir(ltr) { // specificity bump hack
      background-color: $base_color;
      transition-property: color, background;
    }
  }

  &.flat, & {
    border-radius: 0;
    background-image: none;
    background-color: $base_color;

    &:focus { border-color: $selected_bg_color; }
  }
}

.entry-tag {
  // sizing
  padding: 5px;

  margin-top: 2px;
  margin-bottom: 2px;

  // side margins: compensate the entry padding with a negative margin
  // then the negative margin itself
  :dir(ltr) & {
    margin-left: 8px;
    margin-right: -5px;
  }
  :dir(rtl) & {
    margin-left: -5px;
    margin-right: 8px;
  }

  border-style: none;

  $_entry_tag_color: if($variant=='light', $selected_fg_color, $base_color);
  color: $_entry_tag_color;

  $_entry_tag_bg: if($variant=='light', $selected_bg_color, mix($fg_color, $base_color, 50%));
  background-color: $_entry_tag_bg;

  &:hover {
    background-color: lighten($_entry_tag_bg, 10%);
  }

  // :backdrop & {
  //   color: $backdrop_base_color;
  //   background-color: if($variant=='light', $selected_bg_color,
  //                                           mix($backdrop_fg_color, $backdrop_base_color, 50%));
  // }

  &.button {
    background-color: transparent;
    color: transparentize($_entry_tag_color, 0.3);
  }

  :not(:backdrop) &.button {
    &:hover {
      border: 1px solid $_entry_tag_bg;
      color: $_entry_tag_color;
    }
    &:active {
      background-color: $_entry_tag_bg;
      color: transparentize($_entry_tag_color, 0.3);
    }
  }
}

/******************************************************
 * Buttons                                            * 
 ******************************************************/
// stuff for .needs-attention

@keyframes needs_attention {
  from {
    background-image: -gtk-gradient(radial,
                                    center center, 0,
                                    center center, 0.01,
                                    to($_dot_color),
                                    to(transparent));
  }

  to {
    background-image: -gtk-gradient(radial,
                                    center center, 0,
                                    center center, 0.5,
                                    to($_dot_color),
                                    to(transparent));
  }
}

%button,
button {



  @at-root %button_basic, & {

    min-height: $button_min_height;
    min-width: $button_min_width;
    padding: $_btn_pad;
    border: $button_border;
    border-radius: $button_radius;
    transition: $button_transition;
    margin: 0px; //1px;

    @include button();

    // flat buttons have been removed, so no attention to .flat class will be payed

    &.image-button {
      min-width: 24px;
      padding-left: $_img_btn_pad;
      padding-right: $_img_btn_pad;
    }

    &.text-button {
      padding-left: 16px;
      padding-right: 16px;
    }

    &.text-button.image-button {
      padding-left: 8px;
      padding-right: 8px;

      label {
        padding-left: 8px;
        padding-right: 8px;
      }
    }

    @at-root %button_basic_drop_active,
    &:drop(active) {
      color: $drop_target_color;
      border-color: $drop_target_color;
      box-shadow: inset 0 0 0 1px $drop_target_color;
    }
  }

  &.small-button {
    padding: 0px;
    min-height: 10px;
    min-width: 10px;
  }

  // big standalone buttons like in Documents pager
  &.osd {
    
    @include button($osd_button_bg_color, mix($osd_fg_color, $osd_bg_color, 80%), $osd_button_bg_color, $osd_fg_color);
    min-width: 26px;
    min-height: 32px;
    
    &.image-button { min-width: 34px; }

  }

  //overlay / OSD style
  @at-root %osd_button,
  .osd & {

    @include button($osd_button_bg_color, mix($osd_fg_color, $osd_bg_color, 80%), $osd_button_bg_color, $osd_fg_color);

    &:disabled { @include button($insensitive_bg_color, $insensitive_fg_color, $insensitive_bg_color, $insensitive_fg_color); }
  }

  // Suggested and Destructive Action buttons
  @each $b_type, $b_color in (suggested-action, $suggested_bg_color),
                             (destructive-action, $destructive_color) {
    &.#{$b_type} {
      &, &.osd {
          $button_type_bg_color: mix($b_color, $button_bg, 50%);
          
          @include button($button_type_bg_color);
          &:disabled { @include button($insensitive_bg_color, $insensitive_fg_color, $insensitive_bg_color, $insensitive_fg_color); }
          .osd & {
            @include button($button_type_bg_color);
            &:disabled { @include button($insensitive_bg_color, $insensitive_fg_color, $insensitive_bg_color, $insensitive_fg_color); }
          }
      }
    }
  }

  .stack-switcher > & {
    // to position the needs attention dot, padding is added to the button
    // child, a label needs just lateral padding while an icon needs vertical
    // padding added too.

    outline-offset: -3px; // needs to be set or it gets overriden by GtkRadioButton outline-offset

    > label {
      padding-left: 6px;  // label padding
      padding-right: 6px; //
    }

    > image {
      padding-left: 6px;   // image padding
      padding-right: 6px;  //
      padding-top: 3px;    //
      padding-bottom: 3px; //
    }

    &.text-button {
      // compensate text-button paddings
      padding-left: 10px;
      padding-right: 10px;
    }

    &.image-button {
      // we want image buttons to have a 1:1 aspect ratio, so compensation
      // of the padding added to the GtkImage is needed
      padding-left: 2px;
      padding-right: 2px;
    }

    &.needs-attention {
      > label,
      > image { @extend %needs_attention; }

      &:active,
      &:checked {
        > label,
        > image {
          animation: none;
          background-image: none;
        }
      }
    }
  }

  //specificity hell.... I'm sure there's a better way!
  stackswitcher > &, stackswitcher.linked > &, stackswitcher.linked:not(.vertical) > &, .stack-switcher > & {
    &, 
      &:first-child, &:last-child, 
      &:not(:first-child), &:not(:last-child), 
      &:dir(ltr):not(:first-child), &:dir(ltr):not(:last-child),
      &:dir(rtl):not(:first-child), &:dir(rtl):not(:last-child),
      &.radio {
        margin: 5px;
        border-radius: 9999px;
        border-width: $button_border_width;
        border-style: solid;
      }
    &.text-button { min-width: 80px; } 
    &.circular, &.text-button.circular {
      min-width: 32px;
      min-height: 32px;
      padding: 0;
    }
  }


  // hide separators
  //&.font,
  //&.file { separator { background-color: transparent; }}

  &.font { > box > box > label { font-weight: bold; }}

  // inline-toolbar buttons
  .inline-toolbar & { @extend %linked; }

  .primary-toolbar & { -gtk-icon-shadow: none; } // tango icons don't need shadows

  .linked > & { @extend %linked; }

  .linked.vertical > & { @extend %linked_vertical; }

  &.circular { // The Bloody Circul Button
    border-radius: 9999px;
    -gtk-outline-radius: 9999px;
    padding: $_circ_btn_pad; /* circles instead of ellipses */

    label { padding: 0; }

    // the followind code is needed since we use a darker bottom border on buttons, which looks pretty
    // bad with a 100% border radius (see https://bugzilla.gnome.org/show_bug.cgi?id=771205 for details),
    // so on relevant states we an additional background-image with a gradient clipped on the border-box,
    // so setting a transparent border would reveal it.

    $_border_bg: linear-gradient(to top, $alt-borders-color 25%, $borders-color 50%);


  }
  &.radio {
    border-radius: 9999px;
  }
}

%needs_attention {
  animation: needs_attention 150ms ease-in;
  $_dot_shadow: _text_shadow_color();
  $_dot_shadow_r: if($variant=='light',0.5,0.45);


  background-image: -gtk-gradient(radial,
                                  center center, 0,
                                  center center, 0.5,
                                  to($_dot_color),
                                  to(transparent)),
                    -gtk-gradient(radial,
                                  center center, 0,
                                  center center, $_dot_shadow_r,
                                  to($_dot_shadow),
                                  to(transparent));
  background-size: 6px 6px, 6px 6px;
  background-repeat: no-repeat;

  @if $variant == 'light' { background-position: right 3px, right 4px; }

  @else { background-position: right 3px, right 2px; }

  &:backdrop { background-size: 6px 6px, 0 0;}

  &:dir(rtl) {
    @if $variant == 'light' { background-position: left 3px, left 4px; }

    @else { background-position: left 3px, left 2px; }
  }
}


// all the following is for the +|- buttons on inline toolbars, that way
// should really be deprecated...
.inline-toolbar toolbutton > button { // redefining the button look is
    // special style removed
}

// More inline toolbar buttons
toolbar.inline-toolbar toolbutton {
  > button.flat { @extend %linked_middle; }

  &:first-child > button.flat { @extend %linked_left; }

  &:last-child > button.flat { @extend %linked_right; }

  &:only-child > button.flat { @extend %linked_only_child; }
}

%linked_middle {
  //border-right-style: none;
  border-radius: 0;
  -gtk-outline-radius: 0;
  margin-right: 0;
  margin-left: 0;
}

%linked_left {
    border-top-left-radius: $button_radius;
    border-bottom-left-radius: $button_radius;
    -gtk-outline-top-left-radius: $button_radius;
    -gtk-outline-bottom-left-radius: $button_radius;
    margin-right: 0;
}

%linked_right {
    //border-right-style: solid;
    border-top-right-radius: $button_radius;
    border-bottom-right-radius: $button_radius;
    -gtk-outline-top-right-radius: $button_radius;
    -gtk-outline-bottom-right-radius: $button_radius;
    margin-left: 0;
}

%linked_only_child {
    //border-style: solid;
    border-radius: $button_radius;
    -gtk-outline-radius: $button_radius;
}

// .linked assumes Box, which reverses nodes in RTL, so 1st child is always left
%linked {
  @extend %linked_middle;

  &:first-child { @extend %linked_left; }
  &:last-child { @extend %linked_right; }

  &:only-child { @extend %linked_only_child; }
}

// Other widgets use widget child order, so 1st/last child are at text start/end
%linked_flippable {
  @extend %linked_middle;

  &:dir(ltr) {
    &:first-child { @extend %linked_left; }
    &:last-child { @extend %linked_right; }
  }

  &:dir(rtl) {
    &:first-child { @extend %linked_right; }
    &:last-child { @extend %linked_left; }
  }

  &:only-child { @extend %linked_only_child; }
}

%linked_vertical_middle {
  //border-style: solid solid none solid;
  border-radius: 0;
  -gtk-outline-radius: 0;
  margin-top:0;
  margin-bottom:0;
}

%linked_vertical_top {
  border-top-left-radius: $button_radius;
  border-top-right-radius: $button_radius;
  -gtk-outline-top-left-radius: $button_radius;
  -gtk-outline-top-right-radius: $button_radius;
  margin-bottom:0;
}

%linked_vertical_bottom {
  //border-bottom-style: solid;
  border-bottom-left-radius: $button_radius;
  border-bottom-right-radius: $button_radius;
  -gtk-outline-bottom-left-radius: $button_radius;
  -gtk-outline-bottom-right-radius: $button_radius;
  margin-top:0;
}

%linked_vertical_only_child {
  //border-style: solid;
  border-radius: $button_radius;
  -gtk-outline-radius: $button_radius;
}

%linked_vertical {
  @extend %linked_vertical_middle;

  &:first-child { @extend %linked_vertical_top; }

  &:last-child { @extend %linked_vertical_bottom; }

  &:only-child { @extend %linked_vertical_only_child; }
}

%undecorated_button {
    //nothing to see here
}

/* menu buttons */
//modelbutton.flat, //originally with the .flat class
//.menuitem.button.flat {
modelbutton,
.menuitem.button {

  min-height: 26px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: $button_radius;
  outline-offset: -2px;
  
  transition: $button_transition;
  &:not(.flat) {
  	@include button();
  	border: 1px solid;// transparent;
  }
  &:selected, &:hover { @extend %selected_items; }
}

modelbutton.flat arrow {
  @extend %button;

  //&:hover { @include button(hover); }

  &.left { -gtk-icon-source: -gtk-icontheme("pan-start-symbolic"); }

  &.right { -gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); }
}

button.color {
  padding: 4px;

  colorswatch:only-child {
    &, overlay { border-radius: 0; }

    @if $variant == 'light' {
      //box-shadow: 0 1px _text_shadow_color();

      //.osd & { box-shadow: none; }
    }
  }

  @if $variant == 'light' {
    .osd &, & {
      &:disabled,
      &:backdrop,
      &:active,
      &:checked { colorswatch:only-child { 
        //box-shadow: none; 
      }}
    }
  }
}

/* list buttons */
/* tone down as per new designs, see issue #1473, #1748 */
list row button.image-button:not(.flat) {

}

/*********
 * Links *
 *********/

%link,
*:link {
  color: $link_color;

  &:visited {
    color: $link_visited_color;

    *:selected & { color: mix($selected_fg_color, $link_visited_color, 60%); }
  }

  &:hover {
    $_fg: lighten($link_color, 10%);
    color: $_fg;

    *:selected & { color: mix($selected_fg_color, $_fg, 90%); }
  }

  &:active {
    color: $link_color;

    *:selected & { color: mix($selected_fg_color, $link_color, 80%); }
  }

  &:disabled, &:disabled:backdrop { color: transparentize(desaturate($link_color, 100%), 0.2); }

  &:backdrop { &:backdrop:hover, &:backdrop:hover:selected, & { color: transparentize($link_color, 0.1); }}

  @at-root %link_selected,
  &:selected,
  *:selected & { color: mix($selected_fg_color, $link_color, 80%); }
}

button:link,
button:visited {
  @extend %link;
  

  > label {
    @extend %link;
    text-decoration-line: underline;
  }
}


/*****************
 * GtkSpinButton *
 *****************/
spinbutton {
  &:not(.vertical) {
    // in this horizontal configuration, the whole spinbutton
    // behaves as the entry, so we extend the entry styling
    // and nuke the style on the internal entry
    @extend %entry;

    padding: 0;

    %spinbutton_horz_entry {
      min-width: 28px;
      // reset all the other props since the spinbutton node is styled here
      margin: 0;
      background: none;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow: none;

      &:backdrop:disabled { background-color: transparent; }
    }

    entry {
      @extend %spinbutton_horz_entry;
    }
	
	//this instead of the big removed part. Just to make things easier, though it may not be as beautiful.
    button {
    	padding: 0;
    }
    
    
  }

  // OSD horizontal
  .osd &:not(.vertical) {
    entry {
      @extend %spinbutton_horz_entry;
    }

    
  }

  // Vertical
  &.vertical {
    // in the vertical configuration, we treat the spinbutton
    // as a box, and tweak the style of the entry in the middle
    // so that it's linked

    // FIXME: this should not be set at all, but otherwise it gets the wrong
    // color
    &:disabled { color: $insensitive_fg_color; }

    

    &:drop(active) {
      border-color: transparent;
      box-shadow: none;
    }

    entry {
      min-height: 32px;
      min-width: 32px;
      padding: 0;
      border-radius: 0;
    }

    button {
      min-height: 32px;
      min-width: 32px;
      padding: 0;

      &.up { @extend %top_button; }

      &.down { @extend %bottom_button; }
    }

    %top_button {
      border-radius: $button_radius $button_radius 0 0;
      border-style: solid solid none solid;
    }

    %bottom_button {
      border-radius: 0 0 $button_radius $button_radius;
      border-style: none solid solid solid;
    }
  }

  // OSD vertical
  .osd &.vertical button:first-child {
    
  }

  // Misc
  treeview &:not(.vertical) {
    min-height: 0;
    border-style: none;
    border-radius: 0;

    entry {
      min-height: 0;
      padding: 1px 2px;
    }
  }
  font-feature-settings: "tnum";
}


/**************
 * ComboBoxes *
 **************/
combobox {
  arrow {
    -gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
    min-height: 16px;
    min-width: 16px;
  }

  &.linked {
    button:nth-child(2) {
      &:dir(ltr) { @extend %linked_right; }
      &:dir(rtl) { @extend %linked_left; }
    }
  }

  &:drop(active) { // FIXME: untested
    box-shadow: none;

    button.combo { @extend %button_basic_drop_active; }
  }
}

// the combo is a composite widget so the way we do button linking doesn't
// work, special case needed. See
// https://bugzilla.gnome.org/show_bug.cgi?id=733979

.linked:not(.vertical) > combobox > box > button.combo { @extend %linked_middle; }
.linked:not(.vertical) > combobox:first-child > box > button.combo { @extend %linked_left; }
.linked:not(.vertical) > combobox:last-child > box > button.combo { @extend %linked_right; }
.linked:not(.vertical) > combobox:only-child > box > button.combo { @extend %linked_only_child; }

.linked.vertical > combobox > box > button.combo { @extend %linked_vertical_middle; }
.linked.vertical > combobox:first-child > box > button.combo { @extend %linked_vertical_top; }
.linked.vertical > combobox:last-child > box > button.combo { @extend %linked_vertical_bottom; }
.linked.vertical > combobox:only-child > box > button.combo { @extend %linked_vertical_only_child; }


/************
 * Toolbars *
 ************/
%toolbar {
  -GtkWidget-window-dragging: true;
  padding: 4px;
  background-color: $bg_color;
}

toolbar {
  @extend %toolbar;

  padding: 4px 3px 3px 4px;

  // on OSD
  .osd & { background-color: transparent; }

  // stand-alone OSD toolbars
  &.osd {
    padding: 13px;
    border: none;
    border-radius: 5px;
    background-color: $osd_bg_color;

    &.left,
    &.right,
    &.top,
    &.bottom { border-radius: 0; } // positional classes for `attached` osd toolbars
  }

  // toolbar separators
  &.horizontal separator { margin: 0 7px 1px 6px; }
  &.vertical separator { margin: 6px 1px 7px 0; }

  &:not(.inline-toolbar):not(.osd) {
    // workaround: add margins to the children of tool items to simulate
    // spacing, ignore the overflow button (.toggle) and the overflow menu
    // (.popup)
    > *:not(.toggle):not(.popup) > * {
      margin-right: 1px;
      margin-bottom: 1px;
    }
  }
}

//searchbar, location-bar & inline-toolbar
.inline-toolbar {
  @extend %toolbar;

  @extend %darkbar;

  padding: 3px;
  border-width: 0 1px 1px;
  border-radius: 0  0 5px 5px;
}

searchbar > revealer > box,
.location-bar {
  @extend %toolbar;

  @extend %darkbar;

  border-width: 0 0 1px;
  padding: 3px;
}

searchbar > revealer > box {
  // workaround: undo the GtkContainer:border-width and use CSS padding instead
  margin: -6px;
  padding: 6px;
}

%darkbar {
  border-style: solid;
  border-color: $borders_color;
  $_bg: mix($bg_color, $borders_color, 70%);
  background-color: $_bg;

  &:backdrop {
    border-color: $backdrop_borders_color;
    background-color: $backdrop_dark_fill;
    box-shadow: none;
    transition: $backdrop_transition;
  }
}


/***************
 * Header bars *
 ***************/
%titlebar,
headerbar {
  padding: 0 6px;
  min-height: $_headerbar_height;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: $alt_borders_color;
  border-radius: 0;
  color: $titlebar_active_fg;

  @include headerbar_fill($titlebar_active_bg);

  &:backdrop {
    border-color: $backdrop_borders_color;
    //background-color: $bg_color;
    //background-image: none;
    //box-shadow: inset 0 1px $top_hilight;
    @include headerbar_fill($titlebar_backdrop_bg);
    color: $titlebar_backdrop_fg;

    transition: $backdrop_transition;
  }

  .title {
    padding-left: 12px;
    padding-right: 12px;
    font-weight: bold;
  }

  .subtitle {
    font-size: smaller;
    padding-left: 12px;
    padding-right: 12px;

    @extend .dim-label;
  }

  /* Darken switchbuttons for headerbars. issue #1588 */ //removed

  button {
    $button_headerbar_bg: mix($titlebar_active_fg, $titlebar_active_bg, 10%);
    @include button($button_headerbar_bg, $titlebar_active_fg);
    &:backdrop:not(:checked) {
      $button_headerbar_bd_bg: mix($titlebar_backdrop_fg, $titlebar_backdrop_bg, 10%);
      @include button($button_headerbar_bd_bg, $titlebar_backdrop_fg);
    }
  }

  .selection-mode &,
  &.selection-mode {
    $_hc: mix($top_hilight, $suggested_bg_color, 50%); // hilight color

    color: $selected_fg_color;
    border-color: $suggested_border_color;
    //text-shadow: 0 -1px transparentize(black, 0.5);

    @include headerbar_fill($suggested_bg_color);//, $_hc);

    &:backdrop {
      background-color: $suggested_bg_color;
      background-image: none;
      box-shadow: inset 0 1px mix($top_hilight, $suggested_bg_color, 60%);
      
      label { 
        text-shadow: none;
        color: $selected_fg_color; 
      }
    }

    .subtitle:link { @extend %link_selected; }

    button {
        //won't style differently
    }

    .selection-menu {
      &:backdrop, & {
        border-color: transparentize($suggested_bg_color, 1);
        background-color: transparentize($suggested_bg_color, 1);
        background-image: none;
        box-shadow: none;
        min-height: 20px;
        padding: $_sel_menu_pad;

        arrow { -GtkArrow-arrow-scaling: 1; }

        .arrow {
          -gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
          color: transparentize($selected_fg_color,0.5);
          -gtk-icon-shadow: none;
        }
      }
    }
  }

  // squared corners when the window is maximized, tiled, or fullscreen
  .tiled &,
  .tiled-top &,
  .tiled-right &,
  .tiled-bottom &,
  .tiled-left &,
  .maximized &,
  .fullscreen & {
    &:backdrop, & {
      border-radius: 0;
    }
  }

  &.default-decoration {
    min-height: 28px;
    padding: 4px;

    button.titlebutton {
      min-height: 26px;
      min-width: 26px;
      margin: 0;
      padding: 0;
    }
  }
  

  
  //separator.titlebutton { opacity: 0; } /* hide the close button separator */

  .solid-csd & {
    &:backdrop, & {
      &:dir(rtl), &:dir(ltr) { // specificity bump
        margin-left: -1px;
        margin-right: -1px;
        margin-top: -1px;
        border-radius: 0;
        box-shadow: none;
      }
    }
  }
}

headerbar {
  // add vertical margins to common widget on the headerbar to avoid them spanning the whole height
  entry,
  spinbutton,
  separator:not(.sidebar),
  button {
    margin-top: $_hb_btn_pad;
    margin-bottom: $_hb_btn_pad;
  }
  switch {
    margin-top: $_switch_margin;
    margin-bottom: $_switch_margin;
  }

  &.titlebar headerbar:not(.titlebar) {
    // Drop the background of non-titlebar nested headerbars. This is needed to
    // work around headerbar sliding animation issues without refactoring
    // Adwaita's support of titlebars and headerbars as it may break
    // applications.
    // See https://gitlab.gnome.org/GNOME/gtk/issues/1264 for more information.
    background: none;
    box-shadow: none;
  }
}

.background .titlebar {
  &:backdrop, & {
    border-top-left-radius: $window_radius;
    border-top-right-radius: $window_radius;
  }
}

.background.tiled .titlebar,
.background.tiled-top .titlebar,
.background.tiled-right .titlebar,
.background.tiled-bottom .titlebar,
.background.tiled-left .titlebar,
.background.maximized .titlebar,
.background.solid-csd .titlebar {
  &:backdrop, & {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

headerbar { // headerbar border rounding

  window separator:first-child + &,
  window &:first-child { &:backdrop, & { border-top-left-radius: 7px; }}
  window &:last-child { &:backdrop, & { border-top-right-radius: 7px; }}

  window stack & { // tackles the stacked headerbars case
    &:first-child, &:last-child {
      &:backdrop, & {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
      }
    }
  }

  window.tiled &,
  window.tiled-top &,
  window.tiled-right &,
  window.tiled-bottom &,
  window.tiled-left &,
  window.maximized &,
  window.fullscreen &,
  window.solid-csd & {
    &, &:backdrop {
      &,
      &:first-child,
      &:last-child,
      &:only-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}

.titlebar:not(headerbar) {
  window.csd > & {
    // in csd we assume every titlebar is a headerbar so reset anything, this is needed for split toolbars cases
    padding: 0;
    background-color: transparent;
    background-image: none;
    border-style: none;
    border-color: transparent;
    box-shadow: none;
  }

  separator { background-color: $borders_color; }  // FIXME: use darker border?

  @extend %titlebar;
}

// Development versions of apps to use a differently styled headerbar

window.devel {
  headerbar.titlebar:not(.selection-mode) {
    $c: darken($bg_color, 10%);
    $gradient: cross-fade(10% -gtk-icontheme("system-run-symbolic"), image(transparent)) 90% 0/256px 256px no-repeat,
               linear-gradient(to right, transparent 65%, transparentize($selected_bg_color, 0.8)),
               linear-gradient(to top, darken($c, 3%), $c 3px, lighten($c, 6%));
    @if $variant == 'dark' {
      $gradient: cross-fade(10% -gtk-icontheme("system-run-symbolic"), image(transparent)) 90% 0/256px 256px no-repeat,
                 linear-gradient(to right, transparent 65%, transparentize($selected_bg_color, 0.9)),
                 linear-gradient(to top, lighten($c, 3%) 3px, lighten($c, 5%));
    }

    background: $bg_color $gradient;

    &:backdrop {
      background: $bg_color cross-fade(10% -gtk-icontheme("system-run-symbolic"), image(transparent)) 90% 0/256px 256px no-repeat,
                  image($bg_color); /* background-color would flash */
    }
  }
}

/************
 * Pathbars *
 ************/

// GtkPathBar does not work with just .linked, so we must override that. But we
// can’t simply remove .linked from the widget as that might break other themes.
// Note also we select on filechooser to avoid interfering with NautilusPathBar.
filechooser .path-bar.linked > button {
  @extend %linked_flippable;
}

.path-bar button {
  &.text-button, &.image-button, & {
    padding-left: 4px;
    padding-right: 4px;
  }

  &.text-button.image-button label {
    padding-left: 0;
    padding-right: 0;
  }

  &.text-button.image-button, & {
    label:last-child { padding-right: 8px; }
    label:first-child { padding-left: 8px; }
  }

  image {
    padding-left: 4px;
    padding-right: 4px;
  }

  &.slider-button {
    padding-left: 0;
    padding-right: 0;
  }
}


/**************
 * Tree Views *
 **************/

$_treeview_borders_color: if($variant=='light',mix($borders_color, $base_color,80%),mix($fg_color, $base_color, 20%));

treeview.view {
  @at-root * {
    -GtkTreeView-horizontal-separator: 4;
    -GtkTreeView-grid-line-width: 1;
    -GtkTreeView-grid-line-pattern: '';
    -GtkTreeView-tree-line-width: 1;
    -GtkTreeView-tree-line-pattern: '';
    -GtkTreeView-expander-size: 16;
   }

  border-left-color: mix($fg_color, $base_color, 50%); // this is actually the tree lines color,
  border-top-color: $bg_color;                         // while this is the grid lines color, better then nothing

  rubberband { @extend rubberband; } // to avoid borders being overridden by the previously set props

  &:selected {
    &:focus, & {
      //border-radius: 0;

      @extend %selected_items;
    }

    
  }

  &:disabled {
    color: $insensitive_fg_color;

    &:selected {
      color: mix($selected_fg_color, $selected_bg_color, 40%);
      &:backdrop { color: mix($backdrop_selected_fg_color, $selected_bg_color, 30%); }
    }

    &:backdrop { color: $backdrop_insensitive_color; }
  }

  &.separator {
    min-height: 2px;
    color: $bg_color;

    &:backdrop { color: transparentize($bg_color, 0.9); }
  }

  &:backdrop {
    border-left-color: mix($backdrop_fg_color, $backdrop_bg_color, 50%);
    border-top: $backdrop_bg_color;
  }
  &:drop(active) {
    border-style: solid none;
    border-width: 1px;
    border-color: $selected_borders_color;

    &.after { border-top-style: none; }

    &.before { border-bottom-style: none; }
  }

  &.expander {
    -gtk-icon-source: -gtk-icontheme('pan-end-symbolic');

    &:dir(rtl) { -gtk-icon-source: -gtk-icontheme('pan-end-symbolic-rtl'); }

    color: mix($text_color, $base_color, 70%);

    &:hover { color: $text_color; }

    &:selected {
      color: mix($selected_fg_color, $selected_bg_color, 70%);

      &:hover { color: $selected_fg_color; }

      &:backdrop { color: mix($backdrop_selected_fg_color, $selected_bg_color, 70%); }
    }

    &:checked { -gtk-icon-source: -gtk-icontheme('pan-down-symbolic'); }

    &:backdrop { color: mix($backdrop_fg_color, $backdrop_base_color, 70%); }
  }

  &.progressbar { // progress bar in treeviews
    @extend %scale_highlight;
  }

  &.trough { // progress bar trough in treeviews
    @extend %scale_trough;
  }

  header {
    button {
      $_column_header_color: mix($fg_color, $base_color, 50%);

      @extend %button;
      // border: 1px solid transparent;
      // border-right-color: $borders_color;
      // border-bottom-color: $borders_color;
      border-right-width: 0px;
      border-radius: 0;
      padding: 0px 3px;
      margin: 0px;
      color: $_column_header_color;
      background-color: $base_color;
      font-weight: bold;
      text-shadow: none;
      //box-shadow: none;

      &:hover {
        //@extend %column_header_button;

        color: mix($_column_header_color, $fg_color, 50%);
        //box-shadow: none;
        //transition: none; //I shouldn't need this
      }

      &:active {
        //@extend %column_header_button;

        color: $fg_color;
        //transition: none; //I shouldn't need this
      }
      &:last-child {border-right-width: 1px;}
    }
  }

  button.dnd,
  header.button.dnd { // for treeview-like derive widgets
    
    &:active, &:selected, &:hover, & {
      @include button();
      //padding: 0 6px;
      color: $selected_bg_color; //$base_color;
      //background-image: none;
      background-color: $selected_bg_color;
      //border-style: none;
      //border-radius: 0;
      //box-shadow: inset 0 0 0 1px $base_color;
      //text-shadow: none;
      transition: none;
    }
  }

  acceleditor > label { background-color: $selected_bg_color; } // see tests/testaccel to test
}

%column_header_button {
  padding: 0 6px;
  //background-image: none;
  border-style: none solid solid none;
  //border-color: $_treeview_borders_color;
  border-radius: 0;
  text-shadow: none;

  &:disabled {
    border-color: $bg_color;
    background-image: none;
    background-color: $insensitive_bg_color;
    color: $insensitive_fg_color;
  }

  &:last-child { border-right-style: none; }
}



/*********
 * Menus *
 *********/
menubar,
.menubar {
  -GtkWidget-window-dragging: true;
  padding: 0px;
  //box-shadow: inset 0 -1px transparentize(black, 0.9);

  //&:backdrop { background-color: $backdrop_bg_color; }

  > menuitem {
    min-height: 16px;
    padding: 4px 8px;
    border: 1px solid transparent;
    border-radius: $button_radius;
    transition: $button_transition;


    // remove padding and rounding from menubar submenus
    menu {
      &:dir(rtl), &:dir(ltr) { // specificity bump
        border-radius: 0;
        padding: 0;
      }
    }

    &:hover, &:active { 
      background-color: $selected_bg_color;
      color: $selected_fg_color;
    }
    &:disabled { color: $insensitive_fg_color; }
    

  }

  // remove padding and rounding from menubar submenu decoration
  .csd.popup decoration {border-radius:0;}
}

// Needed to make the border-radius of menus work
// otherwise the background bleeds out of the menu edges
.background.popup { background-color: transparent; }

menu,
.menu,
.context-menu {
  margin: 4px; // see https://bugzilla.gnome.org/show_bug.cgi?id=591258
  padding: 4px 0px;
  background-color: $menu_color;
  border: 1px solid $borders_color; // adds borders in a non composited env
  transition: $button_transition;

  .csd & {
    border: none; // axes borders in a composited env
    border-radius: $menu_radius;
  }

  //&:backdrop { background-color: $backdrop_menu_color; }

  menuitem {
    min-height: 16px;
    min-width: 40px;
    padding: 4px 6px;
    text-shadow: none;
    border: 1px solid transparent;
    border-radius: $button_radius;
    transition: $button_transition;

    &:hover, &:active { 
      background-color: $selected_bg_color;
      color: $selected_fg_color;
    }
    &:disabled { color: $insensitive_fg_color; }

    // submenu indicators
    arrow {
      min-height: 16px;
      min-width: 16px;

      &:dir(ltr) {
        -gtk-icon-source: -gtk-icontheme('pan-end-symbolic');
        margin-left: 10px;
      }

      &:dir(rtl) {
        -gtk-icon-source:-gtk-icontheme('pan-end-symbolic-rtl');
        margin-right: 10px;
      }
    }

    // avoids labels color being overridden, see
    // https://bugzilla.gnome.org/show_bug.cgi?id=767058
    label { &:dir(rtl), &:dir(ltr) { color: inherit; }}
  }

  // overflow arrows
  > arrow {

    min-height: 16px;
    min-width: 16px;
    padding: 4px;
    background-color: $menu_color;
    border-radius: 0;

    &.top {
      margin-top: -4px;
      border-bottom: 1px solid mix($fg_color, $base_color, 10%);
      border-top-right-radius: $menu_radius;
      border-top-left-radius: $menu_radius;
      -gtk-icon-source: -gtk-icontheme('pan-up-symbolic');
    }

    &.bottom {
      margin-top: 8px;
      margin-bottom: -12px;
      border-top: 1px solid mix($fg_color, $base_color, 10%);
      border-bottom-right-radius: $menu_radius;
      border-bottom-left-radius: $menu_radius;
      -gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
    }
  }
}

menuitem {
  accelerator { color: gtkalpha(currentColor,0.55); }

  check,
  radio {
    min-height: 16px;
    min-width: 16px;

    &:dir(ltr) { margin-right: 7px; }
    &:dir(rtl) { margin-left: 7px; }
  }
}

/***************
 * Popovers   *
 ***************/

popover.background {
  padding: 2px;
  background-color: $popover_bg_color;

  .csd &, & {
    border: 1px solid $borders_color;
    border-radius: $popover_radius;
  }

  .csd & {
    $_popover_border: transparentize($fg_color,0.5); //if($variant=='light', transparentize(black, 0.77), transparentize(white, 0.77));

    background-clip: padding-box;
    border-color: $_popover_border;
  }

  box-shadow: 0 1px 2px transparentize(black, 0.7);

  
  > list,
  > .view,
  > toolbar {
    border-style: none;
    background-color: transparent;
  }

  .csd &, & {
    &.touch-selection,
    &.magnifier {
      @extend %osd;

      border: 1px solid transparentize(white, 0.9);

      button { @extend %osd_button };
    }

    &.osd { @extend %osd; }
  }

  separator { margin: 3px; }

  list separator { margin: 0px; }
}

/*************
 * Notebooks *
 *************/

@import '../common/notebook.scss';


/**************
 * Scrollbars *
 **************/
scrollbar {
  $_slider_min_length: 40px;
  $_slider_width: 10px;
  $_scrollbar_transition: all 300ms $ease-out-quad;
  $_fine-tune_slider_border: $_slider_width - 3; //3672

  
  @at-root * {
    -GtkScrollbar-has-backward-stepper: true;
    -GtkScrollbar-has-forward-stepper: true;
  }

  background-color: $scrollbar_bg_color;
  transition: $_scrollbar_transition;

  // scrollbar border
  &.top { border-bottom: 1px solid $borders_color; }
  &.bottom { border-top: 1px solid $borders_color; }
  &.left { border-right: 1px solid $borders_color; }
  &.right { border-left: 1px solid $borders_color; }

  trough {
    @extend %scale_trough;
  }
  // slider

  slider {
    @include slider();
    //@extend %button_basic;
    padding: 0;
    //background-image: none;
    min-width: $_slider_width;
    min-height: $_slider_width;
    margin: 0px;
    //border: 4px solid transparent;
    border-radius: 9999px;
    background-clip: padding-box;
    background-color: $scrollbar_slider_color;
    transition: $_scrollbar_transition;
    @include draggable_bg_image($button_bg);

    &:hover { 
      background-color: $scrollbar_slider_hover_color;
      color: desaturate($color: invert($scrollbar_slider_hover_color), $amount: 100%);
      @include draggable_bg_image($scrollbar_slider_hover_color);
    }

    &:hover:active, &:active {
       background-color: $scrollbar_slider_active_color; 
       color: desaturate($color: invert($scrollbar_slider_active_color), $amount: 100%);
       @include draggable_bg_image($scrollbar_slider_active_color);
      }

    

    &:disabled { background-color: $insensitive_bg_color; }
  }

  &.fine-tune {
    slider {
      //transition: none;
      //min-width: $_fine-tune_slider_border+1;
      //min-height: $_fine-tune_slider_border+1;
      //margin: 0;
      
      &, &:hover, &:active {background-color: $hint_bg;}
      
    }

    //&.horizontal slider { border-width: $_fine-tune_slider_border 4px; }
    //&.vertical slider { border-width: 4px $_fine-tune_slider_border; }
  }


  &.horizontal slider {
    min-width: $_slider_min_length;
    
  }

  &.vertical slider {
    min-height: $_slider_min_length;
 
  }

  // button styling
  button {
    padding: 0;
    min-width: 12px;
    min-height: 12px;
    //border-style: none;
    border-radius: 0;
    transition-property: min-height, min-width, color;


  }

  // button icons
  &.vertical {
    button {
      &.down { -gtk-icon-source: -gtk-icontheme('pan-down-symbolic'); }

      &.up { -gtk-icon-source: -gtk-icontheme('pan-up-symbolic'); }
    }
  }

  &.horizontal {
    button {
      &.down { -gtk-icon-source: -gtk-icontheme('pan-end-symbolic'); }

      &.up { -gtk-icon-source: -gtk-icontheme('pan-start-symbolic'); }
    }
  }
}

treeview ~ scrollbar.vertical {
  border-top: 1px solid $borders_color;
  margin-top: -1px;
}

/**********
 * Switch *
 **********/
switch {
  outline-offset: -4px;

  // similar to the .scale
  //border: 1px solid $borders_color;
  border-radius: 9999px;
  color: $fg_color;
  //background-color: $dark_fill;
  text-shadow: 0 1px transparentize(black, 0.9);
  @extend %scale_trough;
  //@include _shadows(inset shadow());

  &:checked:not(:disabled) {
    color: $selected_fg_color;
    //border-color: $selected_fg_color;
    background-color: $selected_bg_color;
    box-shadow: 0 0 5px 0 $selected_bg_color;
  }

  &:disabled {
    color: $insensitive_fg_color;
    border-color: $borders_color;
    background-color: $insensitive_bg_color;
    //box-shadow: none;
    text-shadow: none;
    &:checked{background-color: $insensitive_fg_color;}
  }


  slider {
    
    margin: 1px;
    min-width: 24px;
    min-height: 24px;
    border: 1px solid transparent;
    border-radius: 50%;
    transition: $button_transition;
    -gtk-outline-radius: 20px;
    @include slider();
    @include draggable_bg_image($button_bg);
  }
  
  image { color: transparent; } /* only show i / o for the accessible theme */

  &:hover > slider, &:hover:checked slider {
    //@include button(hover); //what will happen to a hovering slider, then?
  }

  &:checked > slider { 
    //@include button(checked)  //what will happen to a checked switch slider, then?
   }

  //&:disabled slider { @include button($insensitive_bg_color, $insensitive_fg_color, $insensitive_bg_color, $insensitive_fg_color); }

  

  row:selected & {
    @if $variant == 'light' {
      //box-shadow: none;
      //border-color: $checkradio_borders_color;

      

      //> slider { &:checked, & { border-color: $checkradio_borders_color; } }
    }
  }

}


/*************************
 * Check and Radio items *
 *************************/
// draw regular check and radio items using our PNG assets
// all assets are rendered from assets.svg. never add pngs directly

@import '../common/checkradios.scss';



/************
 * GtkScale *
 ************/

 @import '../common/scale.scss';


/*****************
 * Progress bars *
 *****************/

 //progress bar use some elements from gtkscale, such as trough and highlight

progressbar {
  // sizing
  &.horizontal {
    trough,
    progress { min-height: 5px; }
  }

  &.vertical {
    trough,
    progress { min-width: 5px; }
  }

  &.horizontal progress { margin: 0 -1px; } // the progress node is positioned after the trough border
  &.vertical progress { margin: -1px 0; }   // this moves it over it.


  // FIXME: insensitive state missing and some other state should be set probably
  font-size: smaller;
  color: transparentize($fg_color, 0.6);
  font-feature-settings: "tnum";

  &:backdrop {
    box-shadow: none;
    transition: $backdrop_transition;
  }

  trough { @extend %scale_trough;
  }


  progress {
    @extend %scale_highlight;

    border-radius: 1.5px;

    &.left {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }

    &.right {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }

    &.top {
      border-top-right-radius: 2px;
      border-top-left-radius: 2px;
    }

    &.bottom {
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }


  &.osd { // progressbar.osd used for epiphany page loading progress
    min-width: 3px;
    min-height: 3px;
    background-color: transparent;

    trough {
      border-style: none;
      border-radius: 0;
      background-color: transparent;
      box-shadow: none;
    }

    progress {
      border-style: none;
      border-radius: 0;
    }
  }

  trough.empty progress { all: unset; } // makes the progress indicator disappear, when the fraction is 0
}


/*************
 * Level Bar *
 *************/

@import '../common/levelbar.scss';



/****************
 * Print dialog *
*****************/
printdialog {
  paper {
    color: $fg_color;
    border: 1px solid $borders_color;
    background: white;
    padding: 0;

    &:backdrop {
      color: $backdrop_fg_color;
      border-color: $backdrop_borders_color;
    }
  }

  .dialog-action-box { margin: 12px; }
}


/**********
 * Frames *
 **********/
frame > border,
.frame {
  box-shadow: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: 1px solid $borders_color;

  &.flat { border-style: none; }

  &:backdrop { border-color: $backdrop_borders_color; }
}

actionbar > revealer >  box {
  padding: 6px;
  border-top: 1px solid $borders_color;

  &:backdrop { border-color: $backdrop_borders_color; }
}

scrolledwindow {
  viewport.frame { // avoid double borders when viewport inside scrolled window
    border-style: none;
  }

  // This is used when content is touch-dragged past boundaries.
  // draws a box on top of the content, the size changes programmatically.
  overshoot {
    &.top {
      @include overshoot(top);

      //&:backdrop { @include overshoot(top, backdrop); }
    }

    &.bottom {
      @include overshoot(bottom);

      //&:backdrop { @include overshoot(bottom, backdrop); }
    }

    &.left {
      @include overshoot(left);

      //&:backdrop { @include overshoot(left, backdrop); }
    }

    &.right {
      @include overshoot(right);

      //&:backdrop { @include overshoot(right, backdrop); }
    }
  }


  junction { // the small square between two scrollbars
    border-color: transparent;
    // the border image is used to add the missing dot between the borders, details, details, details...
    border-image: linear-gradient(to bottom, $borders_color 1px, transparent 1px) 0 0 0 1 / 0 1px stretch;
    background-color: $scrollbar_bg_color;

    &:dir(rtl) { border-image-slice: 0 1 0 0; }

    &:backdrop {
      border-image-source: linear-gradient(to bottom, $backdrop_borders_color 1px, transparent 1px);
      background-color: $backdrop_scrollbar_bg_color;
      transition: $backdrop_transition;
    }
  }
}

//vbox and hbox separators
separator {
  background-color: transparentize(if($variant=='light', black, white), 0.9);
  min-width: 1px;
  min-height: 1px;
}


/*********
 * Lists *
 *********/
list {
  color: $text_color;
  background-color: $base_color;
  border-color: $borders_color;

  &:backdrop {
    color: $backdrop_text_color;
    background-color: $backdrop_base_color;
    border-color: $backdrop_borders_color;
  }

  row { padding: 2px; }
}

@import '../common/row.scss';



/*********************
 * App Notifications *
 *********************/
.app-notification,
.app-notification.frame {
  @extend %osd;

  padding: 10px;
  border-radius: 0 0 5px 5px;
  background-color: $osd_bg_color;
  background-image: linear-gradient(to bottom, transparentize(black, 0.8),
                                               transparent 2px);
  background-clip: padding-box;

  &:backdrop {
    background-image: none;
    transition: $backdrop_transition;
  }

  button { @extend %osd_button; }

  border { border: none; }
}


/*************
 * Expanders *
 *************/
expander {
  title > arrow {
    @extend %button;
    min-width: 16px;
    min-height: 16px;
    -gtk-icon-source: -gtk-icontheme('pan-end-symbolic');
    &:dir(rtl) { -gtk-icon-source: -gtk-icontheme('pan-end-symbolic-rtl'); }

    //&:hover { color: lighten($fg_color,30%); } //only lightens the arrow
    //&:disabled { color: $insensitive_fg_color; }
    &:checked { -gtk-icon-source: -gtk-icontheme('pan-down-symbolic'); }
  }
}


/************
 * Calendar *
 ***********/
calendar {
  color: $text_color;
  border: 1px solid $borders_color;

  &:selected {
    @extend %selected_items;

    border-radius: 3px;
  }

  &.header {
    border-bottom-color: transparentize(black, 0.9);

    &:backdrop { border-bottom-color: transparentize(black, 0.9); }
  }

  &.button {
    @extend %undecorated_button;

    color: transparentize($fg_color, 0.55);

    &:hover { color: $fg_color; }

    &:backdrop { color: transparentize($backdrop_fg_color,0.55); }

    &:disabled { color:  transparentize($insensitive_fg_color,0.55); }
  }

  &.highlight {
    color: $insensitive_fg_color;

    &:backdrop { color: $backdrop_insensitive_color; }
  }

  &:backdrop {
    color: $backdrop_text_color;
    border-color: $backdrop_borders_color;
  }

  &:indeterminate { color: gtkalpha(currentColor, 0.1); }
}


/***********
 * Dialogs *
 ***********/
messagedialog { // Message Dialog styling
  .titlebar {
    min-height: 20px;
    background-image: none;
    background-color: $bg_color;
    border-style: none;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }

  &.csd { // rounded bottom border styling for csd version
    &.background {
      // bigger radius for better antialiasing
      border-bottom-left-radius: $window_radius+1;
      border-bottom-right-radius: $window_radius+1;
    }

    .dialog-action-area button {
      padding: 10px 14px; // labels are not vertically centered on message dialog, this is a workaround
      border-right-style: none;
      border-bottom-style: none;
      border-radius: 0;
      -gtk-outline-radius: 0;

      &:first-child {
        border-left-style: none;
        border-bottom-left-radius: $button_radius + 2;
        -gtk-outline-bottom-left-radius: $button_radius + 2;
      }

      &:last-child {
        border-bottom-right-radius: $button_radius + 2;
        -gtk-outline-bottom-right-radius: $button_radius + 2;
      }
    }
  }
}

filechooser {
  .dialog-action-box {
    border-top: 1px solid $borders_color;

    &:backdrop { border-top-color: $backdrop_borders_color; }
  }

  #pathbarbox { border-bottom: 1px solid $bg_color; }
}

filechooserbutton:drop(active) {
  box-shadow: none;
  border-color: transparent;
}


/***********
 * Sidebar *
 ***********/
.sidebar {
  border-style: none;
  background-color: mix($bg_color, $base_color, 50%);

  &:not(separator) {
    @at-root %sidebar_left,
    &:dir(ltr),
    &.left,
    &.left:dir(rtl) {
      border-right: 1px solid $borders_color;
      border-left-style: none;
    }

    @at-root %sidebar_right,
    &:dir(rtl),
    &.right {
      border-left: 1px solid $borders_color;
      border-right-style: none;
    }
  }

  &:backdrop {
    background-color: $backdrop_sidebar_bg_color;
    border-color: $backdrop_borders_color;
    transition: $backdrop_transition;
  }

  list { background-color: transparent; }

  paned & { &.left, &.right, &.left:dir(rtl), &:dir(rtl), &:dir(ltr), & { border-style: none; }}
}

stacksidebar {
  &.sidebar {
    &:dir(ltr),
    &.left,
    &.left:dir(rtl) { list { @extend %sidebar_left; }}

    &:dir(rtl),
    &.right { list { @extend %sidebar_right; }}
  }

  row {
    padding: 10px 4px;

    > label {
      padding-left: 6px;
      padding-right: 6px;
    }

    &.needs-attention > label {
      @extend %needs_attention;

      background-size: 6px 6px, 0 0;
    }
  }
}

separator.sidebar {
  background-color: $borders_color;

  &:backdrop {
    background-color: $backdrop_borders_color;
  }

  &.selection-mode,
  .selection-mode & {
    background-color: darken($suggested_bg_color, 20%);
  }
}


/****************
 * File chooser *
 ****************/
$_placesidebar_icons_opacity: 1;

row image.sidebar-icon { opacity: $_placesidebar_icons_opacity; } // dim the sidebar icons
                                                                  // see bug #786613 for details 
                                                                  // on this oddity

placessidebar {
  > viewport.frame { border-style: none; }

  row {
    // Needs overriding of the GtkListBoxRow padding
    min-height: 36px;
    padding: 0px;

    // Using margins/padding directly in the SidebarRow
    // will make the animation of the new bookmark row jump
    > revealer { padding: 0 14px; }

    &:selected { color: $selected_fg_color; }

    &:disabled { color: $insensitive_fg_color; }

    &:backdrop {
      color: $backdrop_fg_color;

      &:selected { color: $backdrop_selected_fg_color; }

      &:disabled { color: $backdrop_insensitive_color; }
    }

    image.sidebar-icon {
      &:dir(ltr) { padding-right: 8px; }
      &:dir(rtl) { padding-left: 8px; }
    }

    label.sidebar-label {
      &:dir(ltr) { padding-right: 2px; }
      &:dir(rtl) { padding-left: 2px; }
    }

    @at-root button.sidebar-button {
      @extend %button_basic;

      min-height: 26px;
      min-width: 26px;
      margin-top: 3px;
      margin-bottom: 3px;
      padding: 0;
      border-radius: 100%;
      -gtk-outline-radius: 100%;
    }

    // in the sidebar case it makes no sense to click the selected row
    &:selected:active { box-shadow: none; }

    &.sidebar-placeholder-row {
      padding: 0 8px;
      min-height: 2px;
      background-image: image($drop_target_color);
      background-clip: content-box;
    }

    &.sidebar-new-bookmark-row { color: $selected_bg_color; }

    &:drop(active):not(:disabled) {
      color: $drop_target_color;
      box-shadow: inset 0 1px $drop_target_color,
                  inset 0 -1px $drop_target_color;

      &:selected {
        color: $selected_fg_color;
        background-color: $drop_target_color;
      }
    }
  }
}

placesview {
  .server-list-button > image {
    transition: 200ms $ease-out-quad;
    -gtk-icon-transform: rotate(0turn);
  }

  .server-list-button:checked > image {
    transition: 200ms $ease-out-quad;
    -gtk-icon-transform: rotate(-0.5turn);
  }

  row.activatable:hover { background-color: transparent; }

  // this selects the "connect to server" label
  > actionbar > revealer > box > label {
    padding-left: 8px;
    padding-right: 8px;
  }
}


/*********
 * Paned *
 *********/
paned {
  > separator {
    min-width: 0.5rem;
    min-height: 0.5rem;
    -gtk-icon-source: none; // defeats the ugly default handle decoration
    @include draggable_bg_image($button_bg);
    background-size: 0.5rem; //to overwrite, because separetor is thinner
    border: none; //1px solid transparent; // just to be sure
    background-color: $borders_color;
    //background-color: transparent;
    // workaround, using background istead of a border since the border will get rendered twice (?)
    //background-image: image($borders_color);
    //background-size: 1px 1px;

    //&:selected { background-image: image($selected_bg_color); } // FIXME is this needed?

    //&:backdrop { background-image: image($backdrop_borders_color); }
    &:hover {box-shadow: inset 0 0 0 1px $selected_bg_color;} //with box-shadow so it is a even thinner
    &.wide {
      min-width: 0.75rem;
      min-height: 0.75rem;
      //background-color: $bg_color;
      //background-image: image($borders_color), image($borders_color);
      //background-size: 1px 1px, 1px 1px;


    }
  }

  &.horizontal > separator {
    //background-repeat: repeat-y;

    &:dir(ltr) {
      //margin: 0 -8px 0 0;
      //padding: 0 8px 0 0;
      //background-position: left;
    }
    &:dir(rtl) {
      //margin: 0 0 0 -8px;
      //padding: 0 0 0 8px;
      //background-position: right;
    }

    &.wide {
      //margin: 0;
      //padding: 0;
      //background-repeat: repeat-y, repeat-y;
      //background-position: left, right;
    }
  }

  &.vertical > separator {
    //margin: 0 0 -8px 0;
    //padding: 0 0 8px 0;
    //background-repeat: repeat-x;
    //background-position: top;

    &.wide {
      //margin: 0;
      //padding: 0;
      //background-repeat: repeat-x, repeat-x;
      //background-position: bottom, top;
    }
  }
}


/**************
 * GtkInfoBar *
 **************/
infobar {
  border-style: none;

  &.action:hover > revealer > box {
      //background-color: if($variant == 'light', desaturate(lighten(invert($selected_bg_color), 47%), 30%), 
      //                  desaturate(darken(invert($selected_bg_color),42%), 70%));
      border-bottom: 1px solid lighten($borders_color, 5%);
  }

  &.info,
  &.question,
  &.warning,
  &.error {
    &:backdrop > revealer > box, & > revealer > box {
      label, & { color: $fg_color; }
      $_bg_info_bar: desaturate(invert($selected_bg_color), 30%); //actually, it would be nice that each different type had its colors...
      
      @if $variant == 'light' { $_bg_info_bar: if(lightness($_bg_info_bar) < 50%, lighten($_bg_info_bar, 30%), $_bg_info_bar);}
      @else {$_bg_info_bar: if(lightness($_bg_info_bar) > 50%, darken($_bg_info_bar, 30%), $_bg_info_bar);}
                        
      background-color: $_bg_info_bar;
      border-bottom: 1px solid lighten($borders_color, 5%);
    }

    text-shadow: none;

    //it would be nice if buttons were the same color as the bar

    selection { background-color: darken($bg_color, 10%); }

    *:link { color: $link_color; }
  }
}


/************
 * Tooltips *
 ************/
tooltip {
  &.background {
    // background-color needs to be set this way otherwise it gets drawn twice
    // see https://bugzilla.gnome.org/show_bug.cgi?id=736155 for details.
    background-color: transparentize($hint_bg, 0.1);
    background-clip: padding-box;
    border: 1px solid $tooltip_borders_color; // this suble border is meant to
                                              // not make the tooltip melt with
                                              // very dark backgrounds
  }

  //padding: 4px; /* not working */
  border-radius: 5px;
  //box-shadow: none; // otherwise it gets inherited by windowframe.csd
  text-shadow: none;

  // FIXME: we need a border or tooltips vanish on black background.
  decoration { background-color: transparent; }

  * { // Yeah this is ugly
    //padding: 4px;
    background-color: transparent;
    color: $hint_fg;
  }
}


/*****************
 * Color Chooser *
 *****************/
colorswatch {
  // This widget is made of two boxes one on top of the other, the lower box is colorswatch {} the other one
  // is colorswatch overlay {}, colorswatch has the programmatically set background, so most of the style is
  // applied to the overlay box.

  &:drop(active), & { border-style: none; } // FIXME: implement a proper drop(active) state

  $_colorswatch_radius: 5px;

  button:hover &,
  button:focus & {
  	box-shadow: 0 0 3px 0 gtkalpha(currentColor, 0.5);
  }

  // base color corners rounding
  // to avoid the artifacts caused by rounded corner anti-aliasing the base color
  // sports a bigger radius.
  // nth-child is needed by the custom color strip.


  &.top {
    border-top-left-radius: $_colorswatch_radius + 0.5px;
    border-top-right-radius: $_colorswatch_radius + 0.5px;

    overlay {
      border-top-left-radius: $_colorswatch_radius;
      border-top-right-radius: $_colorswatch_radius;
    }
  }

  &.bottom {
    border-bottom-left-radius: $_colorswatch_radius + 0.5px;
    border-bottom-right-radius: $_colorswatch_radius + 0.5px;

    overlay {
      border-bottom-left-radius: $_colorswatch_radius;
      border-bottom-right-radius: $_colorswatch_radius;
    }
  }

  &.left,
  &:first-child:not(.top) {
    border-top-left-radius: $_colorswatch_radius + 0.5px;
    border-bottom-left-radius: $_colorswatch_radius + 0.5px;

    overlay {
      border-top-left-radius: $_colorswatch_radius;
      border-bottom-left-radius: $_colorswatch_radius;
    }
  }

  &.right,
  &:last-child:not(.bottom) {
    border-top-right-radius: $_colorswatch_radius + 0.5px;
    border-bottom-right-radius: $_colorswatch_radius + 0.5px;

    overlay {
      border-top-right-radius: $_colorswatch_radius;
      border-bottom-right-radius: $_colorswatch_radius;
    }
  }

  &.dark {
    outline-color: transparentize(white, 0.4);

    overlay {
      color: white;

      //&:hover { border-color: if($variant == 'light', transparentize(black, 0.2), $borders_color); }

      //&:backdrop { color: transparentize(white, 0.5); }
    }
  }

  &.light {
    outline-color: transparentize(black, 0.4);

    overlay {
      color: black;

      //&:hover { border-color: if($variant == 'light', transparentize(black, 0.5), $borders_color); }

      //&:backdrop { color: transparentize(black, 0.5); }
    }
  }

  &:drop(active) {
    box-shadow: none;

    &.light overlay {
      border-color: $drop_target_color;
      box-shadow: inset 0 0 0 2px if($variant == 'light', darken($drop_target_color, 7%), $borders_color),
                  inset 0 0 0 1px $drop_target_color;
    }

    &.dark overlay {
      border-color: $drop_target_color;
      box-shadow: inset 0 0 0 2px if($variant == 'light', transparentize(black, 0.7), $borders_color),
                  inset 0 0 0 1px $drop_target_color;
    }
  }

  overlay {
    border: 1px solid if($variant == 'light', transparentize(black, 0.7), $borders_color);

    &:hover, &:focus {
      //box-shadow: inset 0 1px transparentize(white, 0.6),
       //           inset 0 -1px transparentize(black, 0.8);
       @include button();
       &, &:selected {background-color: transparent;}
    }
  }

  &#add-color-button {
    border-radius: $_colorswatch_radius $_colorswatch_radius 0 0;

    &:only-child { border-radius: $_colorswatch_radius; }

    overlay {
      @include button();
      &, &:selected {background-color: transparent;}
    }
  }

  &:disabled { 
    opacity: 0.5;

    overlay {
      border-color: $insensitive_bg_color;
      box-shadow: none;
    }
  }

  row:selected & { box-shadow: 0 0 0 2px $selected_fg_color; }

  &#editor-color-sample {
    border-radius: 4px;

    overlay { border-radius: 4.5px; }
  }
}

// colorscale popup
colorchooser .popover.osd { border-radius: 5px; }

/********
 * Misc *
 ********/
//content view (grid/list)
.content-view {
  background-color: darken($bg_color,7%);

  &:hover { -gtk-icon-effect: highlight; }

  &:backdrop { background-color: darken($bg_color,7%); }

  rubberband, .rubberband { @extend rubberband; }
}

.scale-popup {
  .osd & { @extend %osd; }

//  .osd & button.flat {  //FIXME: quick hack, redo properly
//    border-style: none;
//    border-radius: 5px;
//  }

//  button { // +/- buttons on GtkVolumeButton popup
//    &:hover {
//      @extend %undecorated_button;
//      background-color: transparentize($fg_color,0.9);
//      border-radius: 5px;
//    }

//    &:backdrop { &:hover, &:disabled, & { @extend %undecorated_button; }}
//  }
}


/**********************
 * Window Decorations *
 *********************/
decoration {
  border-radius: $window_radius $window_radius 0 0;
  // lamefun trick to get rounded borders regardless of CSD use
  border-width: 0px;

  // this needs to be transparent
  // see bug #722563
  $_wm_border: if($variant=='light', transparentize(black, 0.77), transparentize(black, 0.25));
  $_wm_border_backdrop: if($variant=='light', transparentize(black, 0.82), transparentize(black, 0.25));

  box-shadow: $window_bs;

  // FIXME rationalize shadows

  // this is used for the resize cursor area
  margin: 10px;

  &:backdrop {
    // the transparent shadow here is to enforce that the shadow extents don't
    // change when we go to backdrop, to prevent jumping windows.
    // The biggest shadow should be in the same order then in the active state
    // or the jumping will happen during the transition.
    box-shadow: $window_backdrop_bs;
    transition: $backdrop_transition;
  }

  .maximized &,
  .fullscreen & { border-radius: 0; box-shadow: none; }

  .tiled &,
  .tiled-top &,
  .tiled-right &,
  .tiled-bottom &,
  .tiled-left & {
    border-radius: 0;
    box-shadow: 0 0 0 1px $_wm_border_backdrop,
    			0 2px 6px 2px transparentize(black, 0.3),
                0 0 0 20px transparent; //transparent control workaround -- #3670

    &:backdrop { box-shadow: 0 0 0 1px $_wm_border_backdrop,
    						0 2px 6px 2px transparentize(black, 0.6),
                             0 0 0 20px transparent; // #3670
    }
   }

  .popup & { box-shadow: none; }

  // server-side decorations as used by mutter
  // just doing borders, wm draws actual shadows
  .ssd & { box-shadow: 0 0 0 1px $_wm_border; }
  .ssd &:backdrop { box-shadow: 0 0 0 1px $_wm_border_backdrop; }

  .csd.popup & {
    border-radius: $menu_radius;
    box-shadow: 0 1px 5px transparentize(black, 0.8),
                0 0 0 1px transparentize($_wm_border, 0.1);
  }

  tooltip.csd & {
    border-radius: 5px;
    box-shadow: 0 3px 4px transparentize(black, 0.3); //none;
  }

  messagedialog.csd & {
    border-radius: $window_radius;
    box-shadow: 0 1px 5px transparentize(black, 0.8),
                0 0 0 1px transparentize($_wm_border, 0.1);
  }

  .solid-csd & {
    margin: 0;
    padding: 4px;
    background-color: $borders_color;
    border: solid 1px $borders_color;
    border-radius: 0;
    box-shadow: inset 0 0 0 3px $headerbar_color, inset 0 1px $top_hilight, 0 3px 5px transparentize(black, 0.3);

    &:backdrop { box-shadow: inset 0 0 0 3px $backdrop_bg_color, inset 0 1px $top_hilight, 0 3px 5px transparentize(black, 0.3); }
  }
}

// Window Close button
button.titlebutton {
  //@extend %button_basic;

  //&:not(:hover):not(:active):not(:checked):not(:disabled) {@extend %button_basic_flat;}

  //@include _button_text_shadow;

  &:not(.appmenu) {
    //border-radius: 9999px;
    padding: $_hb_btn_pad;
    margin: 0 2px;
    min-width: 0;
    min-height: 0;
    //@include button(normal, $titlebar_active_bg, $titlebar_active_fg);//, white);
    //text-shadow: 0 0 2px #303030;
    //-gtk-icon-shadow: 0 0 2px #303030;
    //&:hover {@include button(hover, $titlebar_active_bg, $titlebar_active_fg);}//, white);}
    //&:active  {@include button(active, $titlebar_active_bg, $titlebar_active_fg);}//, white);}
    &:backdrop {
      //@include button(normal, $titlebar_backdrop_bg, $titlebar_backdrop_fg);//, white);
      background-image: none;
      //text-shadow: 0 0 2px #303030;
      //-gtk-icon-shadow: 0 0 2px #303030;
      //&:hover {@include button(hover, $titlebar_active_bg, $titlebar_backdrop_fg);}//, white);}
      //&:active  {@include button(active, $titlebar_active_bg, $titlebar_backdrop_fg);}//, white);}
    }
  }
	&.close {
      //background-color: $error_color; color: white;

      padding-right: 12px;
      padding-left: 12px;
      &:not(:backdrop) {
        $close_button_bg: desaturate(mix($error_color, $titlebar_active_bg),15%);
        @include button($close_button_bg);//, white, none, radial-gradient(circle at bottom, rgba(255, 255, 0, 0.5), rgba(255, 255, 0, 0)));
      }
    }
  .selection-mode & {
    //@extend %selection_mode_button_flat;

    @extend %nobg_selected_items;
  }

  //&:backdrop { -gtk-icon-shadow: none; }
}

.selection-mode headerbar button.titlebutton,
.selection-mode .titlebar button.titlebutton,
headerbar.selection-mode button.titlebutton,
.titlebar.selection-mode button.titlebutton {
  //@include _button_text_shadow(white, $suggested_bg_color);

  &:backdrop { -gtk-icon-shadow: none; }
}

// catch all extend :)
//here used to be %selected_items {...}



.monospace { font-family: monospace; }


/**********************
 * Touch Copy & Paste *
 *********************/
//touch selection handlebars for the Popover.osd above

@import '../common/cursor-handle.scss';

.context-menu { font: initial; } // Decouple the font of context menus from their entry/textview

// shortcut window keys
.keycap {
  min-width: 20px;
  min-height: 25px;
  margin-top: 2px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;

  color: $fg_color;
  background-color: $base_color;
  border: 1px solid;
  border-color: if($variant == 'light', mix($borders_color, $bg_color, 50%), $borders_color);
  border-radius: 5px;
  box-shadow: if($variant == 'light', inset 0 -3px mix($base_color, $bg_color, 20%), inset 0 -3px mix($borders_color, $base_color, 60%));
  font-size: smaller;

  &:backdrop {
    background-color: $backdrop_base_color;
    color: $backdrop_fg_color;
    transition: $backdrop_transition;
  }
}

:not(decoration):not(window):drop(active):focus,
:not(decoration):not(window):drop(active) { // FIXME needs to be done widget by widget, this wildcard should really die
  border-color: $drop_target_color;
  box-shadow: inset 0 0 0 1px $drop_target_color;
  caret-color: $drop_target_color;
}



/*************
 * App Icons *
 *************/
/* Outline for low res icons */
.lowres-icon {
    -gtk-icon-shadow: 0 -1px rgba(0,0,0,0.05),
      1px 0 rgba(0,0,0,0.1),
      0 1px rgba(0,0,0,0.3),
      -1px 0 rgba(0,0,0,0.1);
}

/* Dropshadow for large icons */
.icon-dropshadow {
  -gtk-icon-shadow: 0 1px 12px rgba(0,0,0,0.05),
      0 -1px rgba(0,0,0,0.05),
      1px 0 rgba(0,0,0,0.1),
      0 1px rgba(0,0,0,0.3),
      -1px 0 rgba(0,0,0,0.1);
}

/*********
 * Emoji *
 ********/

popover.emoji-picker { 
  padding-left: 0;
  padding-right: 0;

  entry.search { margin: 3px 5px 5px 5px; }
}

button.emoji-section {
  border-color: transparent;
  border-width: 3px;
  border-style: none none solid;
  border-radius: 0;

  margin: 2px 4px 2px 4px;
  padding: 3px 0 0;
  min-width: 32px;
  min-height: 28px;

  /* reset props inherited from the button style */
  background: none;
  box-shadow: none;
  text-shadow: none;

  outline-offset: -5px;

  &:first-child { margin-left: 7px; }
  &:last-child { margin-right: 7px; }

  &:backdrop:not(:checked) { border-color: transparent; }
  &:hover { border-color: if($variant == 'light', $borders_color, transparentize($fg_color, .9)); }
  &:checked { border-color: $selected_bg_color; }

  label {
    padding: 0;

    opacity: 0.55;
  }

  &:hover label { opacity: 0.775; }
  &:checked label { opacity: 1; }
}

popover.emoji-picker .emoji {
  font-size: x-large;
  padding: 6px;

  :hover {
    background: $selected_bg_color;
    border-radius: 6px;
  }
}

popover.emoji-completion arrow {
  border: none;
  background: none;
}

popover.emoji-completion contents row box {
  padding: 2px 10px;
}

popover.emoji-completion .emoji:hover {
  background: $popover_hover_color;
}

@import '../common/undershoot.scss';

@import '../common/stack_switcher.scss';

@import '../common/desktop_environment_fixes.scss'
